.image-edit{
  width: 120px;
  height:120px;
  float: inherit;
}

.font-sub{
  font-style: italic;
  font-size: 20px;
  font-weight:bold;
}

.font-subsub{
  font-family: sans-serif;
  font-size: 18px;
}
